<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>artmonious.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84C709C11D11C7D8005910B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C709D51D11C7D9005910B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C709E01D11C7D9005910B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
